// Non selectable text
body {
  user-select: none;
}

// Header
@keyframes logo-intro {
  0%,
  75% {
    transform:
      translateX(var(--logo-x, 0em))
      translateY(calc(50vh - 50% - var(--logo-y, -4em)))
      scale(var(--logo-z, 1.25));
  }
}
#body-home #header {
  .box--1 {
      animation: logo-intro 1.75s 0s both;
      @media (min-width: $viewport-lg) {
        --logo-x: 13em;
        --logo-y: 1em;
        --logo-z: 2;
      }
  }
  @mixin show-from($delay) {
    animation: show-from .5s (1 + .125s * $delay) both;
  }
  .box__title {      @include show-from(-1); }
  .underline:after { @include show-from(5); }
  .subtitle {        @include show-from(6); }
  .md p {            @include show-from(7); }
  .md .buttons {     @include show-from(8); }
  .box--2 {          @include show-from(9); }
  .underline {
    font-size: 3em;
  }
}

// @keyframes soul {
//   100% {
//     transform: translateY(-2em);
//     // opacity: .75;
//     filter:
//       drop-shadow(0 2rem .5rem rgba($black, .15))
//       drop-shadow(0 .5em .5rem $white) 
//       drop-shadow(0 0 5rem $main)
//       ;
//   }
// }

// #contacto {
//   .contact__data > * {
//     flex-grow: 0;
//   }
//   // .box--1
//   // .shadow {
//   //   animation: soul 1s 0s both infinite alternate ease-in-out;
//   // }
// }

// #body-constelaciones-familiares
// #header {
//   .box--2
//   .md {
//     gap: 2em;
//     @media (min-width: -md) {
//       columns: 2;
//     }
//   }
//   :is(
//     .box--3,
//     .box--4
//   )
//   .md {
//     gap: 2em;
//     @media (min-width: -md) {
//       columns: 2;
//     }
//     @media (min-width: -xl) {
//       columns: 3;
//     }
//   }
// }
