#body-inicio #header {
  @mixin show-from($delay) {
    animation: show-from .5s (.625 + .125s * $delay) both;
  }
  .section__title {       @include show-from(1); }
  .subtitle {             @include show-from(2); }
  .description p {        @include show-from(3); }
  .description .buttons { @include show-from(4); }
  .column--item-2 {       @include show-from(5); }
  .underline {
    font-size: 3em;
  }
}

// @keyframes soul {
//   100% {
//     transform: translateY(-2em);
//     // opacity: .75;
//     filter:
//       drop-shadow(0 2rem .5rem rgba($black, .15))
//       drop-shadow(0 .5em .5rem $white) 
//       drop-shadow(0 0 5rem $main)
//       ;
//   }
// }
#contacto {
  .contact__data > * {
    flex-grow: 0;
  }
  // .column--item-1
  // .shadow {
  //   animation: soul 1s 0s both infinite alternate ease-in-out;
  // }
}